﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />

	@Html.MetaTag("Clinical services for busy professionals. Spine, headache, limb pain, movement and balance disturbance inc BPPV (Dix-Hallpike/Eply maneuver). (07) 3229 2383 Level 5, 243 Edward Street.", MetaTagType.Description)
	@Html.MetaTag("Chiropractic (07 3229 2383) CBD Brisbane", MetaTagType.Keywords)
	
	<title>@ViewBag.Title</title>
	@Html.Css("~/Content/Site.css")
	
</head>
<body>
	<div id="wrapper">
		<header>
			<div id="title">brisbanecitychiropractor.com.au</div>
			<div id="subTitle">City-Based Chiropractors (07 3229 2383)</div>

			@Html.Image("bones", "~/Content/Images/headerphoto.jpg", "xRay image")
			
			<p id="buttons">
				@{
					@Ajax.ActionLink("Home", "Index", new { controller = "Home" }, new AjaxOptions { UpdateTargetId = "pageContent", LoadingElementId = "Loading", LoadingElementDuration = 2000 }, new { @class = "linkButton" })
					@Ajax.ActionLink("Our Clinic", "Clinic", new { controller = "Home" }, new AjaxOptions { UpdateTargetId = "pageContent", LoadingElementId = "Loading", LoadingElementDuration = 1000 }, new { @class = "linkButton" })
					@Ajax.ActionLink("Practitioners", "Practitioners", new { controller = "Home" }, new AjaxOptions { UpdateTargetId = "pageContent", LoadingElementId = "Loading", LoadingElementDuration = 2000 }, new { @class = "linkButton" })
					@Ajax.ActionLink("Contact | Hours | Location", "ContactDetails", new { controller = "Home" }, new AjaxOptions { UpdateTargetId = "pageContent", LoadingElementId = "Loading", LoadingElementDuration = 2000 }, new { @class = "linkButton" })
					@Ajax.ActionLink("Patient Resources", "PatientResources", new { controller = "Home" }, new AjaxOptions { UpdateTargetId = "pageContent", LoadingElementId = "Loading", LoadingElementDuration = 2000 }, new { @class = "linkButton" })
					@Html.ActionLink("Blog", "Blog", new { controller = "Home" }, new { @class = "linkButton" })
					@Ajax.ActionLink("Articles", "Articles", new { controller = "Home" }, new AjaxOptions { UpdateTargetId = "pageContent", LoadingElementId = "Loading", LoadingElementDuration = 2000 }, new { @class = "linkButton" })
					@Ajax.ActionLink("Links We Like", "LinksWeLike", new { controller = "Home" }, new AjaxOptions { UpdateTargetId = "pageContent", LoadingElementId = "Loading", LoadingElementDuration = 2000 }, new { @class = "linkButton" })
				}
			</p>
		</header>
		
		<div id="Loading" class="hideMe">
				@Html.Image("LoadingPic", "~/Content/Images/Loading.gif", "Loading Info")
		</div>
		
		@RenderBody()
		
		<div class="pageColumn">
			<div>
				<div class="picWrapper">
						@Html.Image("DougPic", "~/Content/Images/doug.jpg", "Douglas Scown", new { @class = "portrait" })
					<br />Douglas Scown
				</div>
				<div class="picWrapper">
						@Html.Image("AilsaPic", "~/Content/Images/ailsa.jpg", "Ailsa Patterson", new { @class = "portrait" })
					<br />			
					Ailsa Patterson
				</div>
			</div>
			<div>
				<hr />
				<div>
					<iframe src="http://www.facebook.com/plugins/like.php?href=https://www.facebook.com/pages/Alpha-Chiropractic-Clinic&amp;layout=standard&amp;show_faces=false&amp;width=400&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=32" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:400px; height: 32px;"></iframe>
				</div>
				<div class="twitter">
					<a href="https://twitter.com/#!/DougScown">
						@Html.Image("TwitterIcon", "~/Content/Images/twitter.png", "Douglas Scown")
					</a> Follow us on Twitter.
				</div>
				<hr />
			</div>
					
			<div id="map">loading map...</div>
		</div>

		<footer>
			<hr/>
			<div>&#169; brisbanecitychiropractor.com.au</div>
		</footer>
	</div>
	
	@Html.Script("jquery-1.8.2.min.js", JavascriptPathType.Relative)
	@Html.Script("jquery.unobtrusive-ajax.min.js", JavascriptPathType.Relative)
	@Html.Script("gMapStuff.js", JavascriptPathType.Relative)
	@Html.Script("http://maps.google.com/maps/api/js?sensor=false", JavascriptPathType.FullWebPath)
	@Html.Script("startup.js", JavascriptPathType.Relative)

</body>
</html>
