﻿
@{
    ViewBag.Title = "Our Clinic";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div id="pageContent">
    
    <h1>Welcome to Our Clinic</h1>

    
    <p>Every case is unique and no two individuals present in exactly the same way.  </p>

    <p>We are registered primary health care providers dedicated to helping you understand what is causing your pain and perhaps more importantly, how you can relieve it.</p>

    <p>Traditionally the premise of Chiropractic (Greek for 'done with hands') was that a life force (Innate Intelligence) became blocked or interfered with by spinal misalignments and caused disease. Over 100 years ago this and other anachronistic health ideas were common. Fortunately spine complaints cannot cause organs to fail but we are learning more about why we have so much trouble with our backs and how they are involved with issues such as chronic pain, balance and other sensory and musculoskeletal disorders.</p>

</div>

