﻿
@{
    ViewBag.Title = "Contact Details";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div id="pageContent">
    
    <h1>Contact Us</h1>
    <h2>Clinic Hours</h2>

    <div class="detailWrapper"><div class="details key">Monday</div><div class="details value">7.30am - 2.00pm</div></div>        

    <div class="detailWrapper"><div class="details key">Tuesday</div><div class="details value">11.30am - 3.30pm</div></div>                

    <div class="detailWrapper"><div class="details key">Wednesday</div><div class="details value">7.30am - 2.00pm</div></div>                

    <div class="detailWrapper"><div class="details key">Thursday</div><div class="details value">11.30pm - 3.30pm</div></div>                

    <div class="detailWrapper"><div class="details key">Friday</div><div class="details value">7.30am - 1.00pm</div></div>                

    <div class="detailWrapper"><div class="details key">Saturday</div><div class="details value">9.00am - 11.00am</div></div>               
    
    <div class="detailWrapper"><div class="details key">Phone</div><div class="details value">07 3229 2383</div></div>     

    <div class="detailWrapper"><div class="details key">Facsimile:</div><div class="details value">07 3229 0700</div></div>          

    <div class="detailWrapper"><div class="details key">email: </div><div class="details value">admin@citycentrechiropractic.com</div></div>          
    
    <h2>Address</h2>
    <p>Level 5, 243 Edward Street, Brisbane.</p>
    <p>We are on the corner of Edward and Adelaide Streets.</p>
    <p>Our rooms are on the corner of Edward and Adelaide Streets, which is across the road from the walkways to Central Station, and a short walk, five minutes, from the  King George Square Busway along Adelaide Street.  There is a taxi rank outside MacArthur Central in Queen St,  which is the next block, about two minutes walk.  The closest public car parking is across the road, Queens Plaza, Edward Street or underneath in Post Office Square, entry via Adelaide Street.</p>

</div>