﻿@{
	ViewBag.Title = "Brisbane City Chiropractor";
}

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div id="pageContent">
	
    <h1>Brisbane City Chiropractor</h1>
    <p>
        Based in the CBD, our practice specialises in the diagnosis and conservative treatment of problems of the spine and associated disorders of the nervous system.        
    </p>
    <p>
        Scoliosis - The clinic assesses children for this three-dimensional structural deformity of the spine and the relative risk of progression based upon type, family history, age of onset, gender and other factors. Many cases require reassurance and simple monitoring whilst there is some evidence that other types respond favourably to gentle conservative treatment. The highest risk of progression is for those between 3-10 yrs of age with a family history.
    </p>
    <p>
	    Brisbane City Chiropractic is dedicated to the diagnosis and treatment of functional conditions of the spine and nervous system – particularly complex conditions related to the spine such as sciatica, balance disorders and headache. 
    </p>
    <p>
	    Freedom of movement of the human spine and frame is the foundation of a healthy and productive life.  Therefore a key focus of our practice is to correct or enhance and maintain physical movement and the neurological control of human stability, posture and balance using treatment strategies, exercise programs and lifestyle/workplace advice based upon the latest research in spinal and joint function and control.
    </p>
    <hr />
    <p>Our goals are to provide:</p>
	    <ul>
		    <li>Accurate diagnosis</li>
		    <li>Safe and effective treatment / management</li>
		    <li>Communicate where appropriate with your GP, medical specialists and other members of your health care team</li>
	    </ul>
	
    <hr />

    <p>We have over 20 years experience with management and co-management of the following conditions:</p>
	    <ul>
		    <li>Chronic spine pain / diffuse musculoskeletal pain</li>
		    <li>Tension Headache / Migraine</li>
		    <li>Disorders of balance / Vertigo including BPPV (Dix-Hallpike Test and Epley Manoeuvre)</li>
		    <li>Disc problems</li>
		    <li>'pinched' nerves including upper and lower limb nerve entrapment syndromes</li>
            <li>Sciatica and referred pain syndromes</li>
            <li>Hip pain including Femoroacetabular impingement (FAI)</li>
	    </ul>
	
    <p>All practitioners at Brisbane City Chiropractor are Registered Chiropractors. As such, the following are available:</p>    
    <ul>
	    <li>Private health rebates</li>
	    <li>Referral for Imaging (MRI, X-ray, CT and ultrasound) and joint injection procedures</li>
	    <li>Medicare (EPC)</li>
	    <li>DVA</li>
    </ul>    

</div>

