﻿
@{
    ViewBag.Title = "Links We Like";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div id="pageContent">    
    <h1>Links We Like</h1>
    
    <p><a href="http://www.advancedchiropractic-normal.com/">Advanced Chiropractic</a></p>
    <p><a href="http://www.rehabps.com/VIDEO/DNS-VIDEO.html">Dynamic Neuromuscular Stabilization</a></p>

</div>

