﻿@{
    ViewBag.Title = "Articles";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div id="pageContent">    
    <h1>Articles</h1>
    <p>
        <a class="exLink" href="@Url.Content("~/Content/Articles/Apkarian et al. (2004) Chronic back pain.pdf")"> Apkarian et al. (2004) Chronic back pain</a><br /> 
        <a class="exLink" href="@Url.Content("~/Content/Articles/Exploring_the_Neuromodulatory_Effects.pdf")"> Exploring_the_Neuromodulatory_Effects</a><br /> 
    </p>
 
</div>


