﻿@{
    ViewBag.Title = "PatientResources";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

    <div id="pageContent">

    <h1>Patient Resources</h1>
     
    <p>These exercises are designed to improve neuromechanics; the relationship between the spinal joints and the parts of the central nervous system which control their position.</p>
 
    <p>Your clinician will recommend specific movements depending on your particular area of weakness.</p>
    
        <a class="exLink" href="@Url.Content("~/Content/Pdfs/Scientia_Patient_Resources_Chest_Stretch.pdf")"> Chest Stretch</a><br /> 
        <a class="exLink" href="@Url.Content("~/Content/Pdfs/Scientia_Patient_Resources_Extension_Lying_Prone.pdf")">Lying Prone</a><br /> 
        <a class="exLink" href="@Url.Content("~/Content/Pdfs/Scientia_Patient_Resources_Lying_Back_Extension.pdf")">Lying Back Extension</a><br /> 
        <a class="exLink" href="@Url.Content("~/Content/Pdfs/Scientia_Patient_Resources_Resisted_Shoulder_Extension.pdf")">Resisted Shoulder Extension</a><br /> 
        <a class="exLink" href="@Url.Content("~/Content/Pdfs/Scientia_Patient_Resources_Scapula_Retraction.pdf")">Scapula Retraction I</a><br /> 
        <a class="exLink" href="@Url.Content("~/Content/Pdfs/Scientia_Patient_Resources_Scapula_Retraction_2.pdf")">Scapula Retraction II</a><br /> 
        <a class="exLink" href="@Url.Content("~/Content/Pdfs/Scientia_Patient_Resources_Shoulder_Extension.pdf")">Shoulder Extension</a><br /> 
        <a class="exLink" href="@Url.Content("~/Content/Pdfs/Scientia_Patient_Resource_Lower_Limb_Nerve_Stretch.pdf")">Lower Limb Nerve Stretch</a><br /> 
        <a class="exLink" href="@Url.Content("~/Content/Pdfs/Scientia_Patient_Resources_Upper_Limb_Nerve_Gliding_Exercise.pdf")">Upper Limb Nerve Gliding Exercise</a><br /> 
        <a class="exLink" href="@Url.Content("~/Content/Pdfs/Scientia_Patient_Resources_Upper_Limb_Nerve_Stretch_Exercise.pdf")">Upper Limb Nerve Stretch Exercise</a><br /> 
        <a class="exLink" href="@Url.Content("~/Content/Pdfs/Scientia_Patient_Resources_Gaze_Stability_Exercise.pdf")">Gaze Stability Exercise</a><br /> 
        <a class="exLink" href="@Url.Content("~/Content/Pdfs/Scientia_Patient_Resources_Gluteals_of_Steel.pdf")">Gluteals of Steel</a><br /> 
        <a class="exLink" href="@Url.Content("~/Content/Pdfs/Scientia_Patient_Resources_Multifidus_Exercise.pdf")">Multifidus Exercise</a> 
    
    </div>

