﻿
@{
    ViewBag.Title = "Practitioners";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div id="pageContent">    
    <h1>Our Practionioners</h1>
    <h2>Ailsa Patterson</h2>
    <h3>B.Sc M.Chiro</h3>

    <p>
    Ailsa's qualifications include Bachelor of Science from The University of
    Queensland and a Master of Chiropractic from Macquarie University in Sydney. To
    gain broad industry knowledge she has previously worked in clinics in Perth and
    South East Queensland , before settling in Brisbane City.
    </p>
 
    <p>
    Prior to becoming President of the Queensland Chiropractors'
    Association of Australia (2002-2005), she served for several years as an
    Executive member of the Queensland Chiropractors' Association of Australia,
    (2000 2006) holding the portfolio of Public Education. She was appointed by the
    Health Minister for a four year term on the Chiropractors Board of Queensland (
    2006-2010), a reflection of her commitment to helping others and to her
    profession.
    </p>
 
    <p>
    During her time with the association she held a general interest
    in health promotion and the media. For nine years Ailsa nurtured a relationship
    with a local television program, Brisbane Extra, on Channel 9, until its final
    episode aired 2009, regularly appearing to promote healthy spines / lifestyles
    and chiropractic. The Public Education Campaign has also seen her contribute to
    print and radio mediums and other various television shows across the three
    commercial channels.
    </p>
 
    <p>
    One area of focus for Ailsa whilst she was a member of the
    Registration Board was continuing professional development. She was heavily
    involved with the production and execution of seminars, both local and
    regionally for the Chiropractors Board of Queensland.
    </p>
    
    <p>
    Currently, she has stepped away from her additional chiropractic
    roles to focus on her family, and her clinic.
    </p>

    <h2>Douglas Scown</h2>
    <h3>B.Ed B.App.Sci B.Chiro.Sci</h3>
    
    <p>Born in Melbourne, Doug Scown graduated from RMIT in 1997 and moved with his wife and two children to Brisbane in 1998.  After a few years working in various suburban clinics Doug opened his own practise (Alpha Chiropractic Clinic) in Brisbane City and more recently joined with Ailsa Patterson and her City Center clinic.</p>

    <p>Although maintaining his initial interest in spinal conditions and sports performance the past 5 years has seen a focus on the further study of the neurology which is not only often damaged in spinal conditions but which is now understood to play a pivotal role in the development of chronic pain and other dysfunctions of the central nervous system.interprofessional communication.</p>
</div>

