﻿@import url("cssreset-min.css");
@import url("cssfonts-min.css");
@import url("cssbase-min.css");

html 
{
    background: url('./Images/longWideBlue.png') repeat-x;
}

body
{
    font-size: 14px;
}


#wrapper
{
    width: 970px;
    margin: 133px auto;  
    border-top: 1px solid #3F4646; 
    border-left: 1px solid #3F4646; 
    border-right: 1px solid #3F4646; 
    background-color: #FFF;
    overflow: auto;    
}


header 
{
    height: 339px;    
    background-color: #000;    
    text-align: center;
    padding-top: 10px;
}

#title {
    margin-top: 5px;
    font-size: 40px;
    background-color: #000;    
}

#subTitle {
    margin: 5px;
    font-size: 25px;
    background-color: #000;          
}

#subTitle, #title {
    font-family: sans-serif;    
    text-align: center;    
    color: #C0C0C0;
}

#buttons {
    margin-top: 10px;
}

#main
{
    overflow: auto;
}

#pageContent {
    margin: 20px;
    display: inline-block;
    width: 500px;
    background-color: white;
    clear: left;
    vertical-align: top;
}

img.portrait {
    height: 120px;
    width: 90px;
}

.pageColumn 
{
    clear: right;
    width: 350px;
    margin: 20px;
    display: inline-block;
    background-color: #FFF;
    vertical-align: top;
    text-align: center;
}

.picWrapper 
{
    margin: 10px;
    padding: 2px;
    border: 1px #C0C0C0 solid;
    display: inline-block;
    vertical-align: top;
}

.linkButton {    
    background: none repeat scroll 0 0 #EAEAEA;
    border: 1px solid #949494;
    border-radius: 4px 4px 4px 4px;
    bottom: 0;
    box-shadow: 0 2px 0 #949494;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}

.linkButton:hover {
    -moz-transition-duration: 0.1s;
    -moz-transition-property: box-shadow;
    bottom: -2px;
    box-shadow: 0 0 0 #FFF;
} 

p {
    margin: 20px 0px 20px 0px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 22px;
    display: block;
    border-bottom: 2px solid #C0C0C0;
}

h3 {
    font-size: 20px;
}

li {
    list-style-position: outside;
    list-style-type: disc;    
}

img {
    
}

hr {
    margin: 10px auto 10px;
    width: 60%
}

.pageColumn hr 
{    
    border: 1px solid #C0C0C0;
    width: 100%;
}

.detailWrapper {
    margin: 5px;
}

.details {
    display: inline-block;    
}

.key {
    width: 100px;
    font-weight: bold;
}

.value {
    width: 300px;
}

#map
{
    width: 310px; 
    height: 300px; 
    border: solid 2px #000; 
    margin: 0px auto   
}

div.twitter{
    font-family:Arial, sans-serif;
    font-size:11px;
    line-height:14px;
    color: #333;
}

a.exLink {
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
}

.hideMe 
{
    position:absolute;
    top: 500px;
    left: 850px;
	width: 150px;
	height: 70px;
    display: none;
}

footer {
    text-align: center;
}